@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #343434;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #343434;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer components {
  .btn-primary {
    @apply bg-blue-600 text-white font-semibold py-2 px-4 rounded-md hover:bg-blue-700 transition-colors;
  }

  .card {
    @apply bg-white rounded-lg shadow-md overflow-hidden;
  }

  .card-header {
    @apply p-4 border-b border-gray-200 font-semibold;
  }

  .card-body {
    @apply p-4;
  }
}
